.*
!/.gitignore
*.pem
*.sh
*.yml

# Ignore all Docker volumes in the project
volumes/*
volumes

# ignore the backups
rclone_backup.log
dump*.sql
!*.example

# ignore own rclone backup script to backblaze
rclone.conf
infra-modules/rclone-cron/
infra-live/rclone-cron/
