PG_USER:
PG_PASS: 
PG_DB: 
NEXTCLOUD_MYSQL_PASS:
NEXTCLOUD_MYSQL_ROOT_PASS:
NEXTCLOUD_MYSQL_DATABASE: 
NEXTCLOUD_MYSQL_USER: 
NEXTCLOUD_MYSQL_HOST:
JOPLIN_MYSQL_PASS: 
JOPLIN_MYSQL_ROOT_PASS: 
JOPLIN_MYSQL_DATABASE:
JOPLIN_MYSQL_USER: 
JOPLIN_MYSQL_HOST:
IMMICH_DB_PASS: 
IMMICH_DB_NAME: 
IMMICH_DB_USER: 
IMMICH_DB_HOST: 
IMMICH_PHOTO_MNT_POINT:
PLANKA_SECRETKEY: 
PLANKA_NAME: 
PLANKA_PASS: 
PLANKA_USERNAME: 
PLANKA_EMAIL: 
CLOUDFLARE_API_TOKEN: 